@media (max-width:750px){.emoji-container { position: relative; float: right;} .emoji-popup { display: none; position: absolute; right: 40%; top: -100px; width:auto; z-index: 100; }}
@media (min-width:1000px){.emoji-container { position: relative; } .emoji-popup { display: none; position: absolute; right: 40%; top: -10px; width:auto; z-index: 100; }}
.tabs { display: flex; background: #f1f1f1; }
.tab { flex: 1; color: #ffffff; text-align: center; padding: 10px; cursor: pointer; }
.tab.active { font-weight: bold; }
.emoji-grid { display: none; flex-wrap: wrap; padding: 10px; max-height: 200px; overflow-y: scroll; }
.emoji-grid.active { display: flex; }
.emoji { padding: 5px; cursor: pointer; width: 40px; text-align: center; }
